{% extends "layout.html" %}

{% block content%}

<main role="main" class="container-fluid pl-0 ml-0">

    <div class="row">
        <div class="col-md-16">
            <h4 class="display-4 mt-5">Welkom bij McDonald's Rooster</h4>
            <p class="">
                Werk je bij McDonald's en ontvang je je rooster in de mail? Vind jij de Jouwloon app ook niet fijn om mee te werken? Maak je wel vaak gebruik van Google Calendar?
                Dan is dit iets voor jou! Je logt in met je Google account waarop je je rooster emails ontvangt en je bent klaar! Het laatste rooster dat je hebt ontvangen wordt direct
                toegevoegd aan je Google Calendar!
            </p>

            {%if auth%}
            <a href="{{url_for('main.fetch_all_mail')}}">
                <button type="button" class="btn btn-primary btn-block">Alles Ophalen</button>
            </a>
            <a href="{{url_for('main.fetch_latest_mail')}}">
                <button type="button" class="btn btn-primary btn-block mt-2">Laatste Ophalen</button>
            </a>
            {%else%}
            <a href="{{url_for('authentication.login')}}">
                <button type="button" class="btn btn-primary btn-block">Inloggen</button>
            </a>
            {%endif%}

        </div>
    </div>

</main>
{% endblock content%}